[Unit]
Description=Gophish Phishing Framework
After=network.target postfix.service

[Service]
Type=simple
WorkingDirectory=/opt/gophish
# Gophish se spouští jako root, aby  mohl v budoucnu používat porty 80 a 443
ExecStart=/opt/gophish/gophish
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target